{% extends 'base.html.twig' %}

{% block title 'New pin' %}

{% block body %}

  <h1 class="">Create pin</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="" value="Create Pin" formnovalidate>
  {{ form_end(form) }}
{% endblock %}