{% extends 'base.html.twig' %}

{% block title pin.titre %}

{% block body %}

  <article>
      <h1 class="">{{ pin.titre  }}</h1>
      <p>{{ pin.description }}</p>
  </article>


  <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="">Edit </a>
  <a href="{{ path('app_home') }}" class="">Go back</a>
{% endblock %}
